*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif
}

/* div{
    border: 1px solid red;
} */

/* header start */
.header{
    background-color: white;
    height: 72px;
    width: 1280px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    padding-right: .5%;
    padding-left: 1.7%;
    position: fixed;
    /* text-decoration: none solid rgb(18, 20, 22) */
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    /* align-items: center; */
}

/* .isiheader{ */
    /* flex:1 */
    /* font-size: 30px;
    font-weight: bolder;
} */

.icon-container{
    display: none;
}

.menu{
    display: flex;
    flex-basis: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.menu div{
    /* flex-basis: 120% ; */
    /* padding-left: 0px; */
    font-size: 14px;
    font-weight: bold;
    margin-right: 15px;
}

.menu .signup{
    /* margin-right: 0px; */
    border-radius: 25px;
    width: 78px;
    height: 35px;
    padding: 10px 0px 5px 12px;
    background-color: #00A887;
    color: white;
    transition: 500ms;
    /* border: transparent; */
    line-height: normal;
    
    /* align-items: center; */
}

.kategori{
    margin-top: 30px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 1.7%;
}

h4{
    font-size: 20px;
    line-height: 40px;
    font-weight: normal;
    padding-left: 1.7%;
}

.container1{
    margin-top: 70px;
    background-image: url(./6-copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-height: 350px; */
    width: 100%;
    height: 100%;
    height: 58vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container1  div{
    color: white;
    font-size: 48px;
    line-height: 54px;
    font-weight: bold;
}

input{
    font-size: 16px;
    height: 58px;
    width: 508px;
    background-color: white;
    border-radius: 5px;
}

.isi img{
    /* background-color: coral; */
    /* padding-left: 1.7%; */
    height: 261px;
    width: 390px;
    border-radius: 10px;
    /* padding-right: 20px; */
}

.row{
    /* width: 1260px; */
    /* border: 1px solid brown; */
    /* width: max-content; */
    /* margin-right: 30px; */
    width: max-content;
}

.container{
    /* width: max-content; */
    /* border: 5px solid slateblue; */
    /* width: fit-content; */
}

.tulisan{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

p{
    /* margin-top: 10px; */
    font-size: 14px;
    line-height: 18px;
    width: 380px;
}

.isi-1 img{
    /* background-color: coral; */
    /* padding-left: 1.7%; */
    height: 190px;
    width: 284.9px;
    /* border-radius: 10px; */
    /* padding-right: 20px; */
}

.tulisan-1{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 16px;
    color: red;
}

.tulisan-1 p{
    font-size: 14px;
    line-height: 18px;
    width: 270px;
    font-weight: 600;
    text-align: left;
    margin-top: 2px;
    color: black;
    text-transform: none;
}

.jumbotron-4{
    padding: 1.7%;
    /* margin-bottom: -30px; */
}

.border-isi{
    border: 5px solid black; 
    margin: 60px 0 30px 0
}

.jumbotron-4 .container{
    padding: 30px 0 0px 30px
}

.tulisan-2{
    width: 477px;
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 10px;
    font-weight: bold;
}

.tulisan-3{
    width: 477px;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 25px;
    /* font-weight: bold; */
}

.col-md-7 img{
    height: 391.948px;
    width: 670px;
    margin: -75px -15px -1.5px 
}

.isi-2 img{
    /* background-color: coral; */
    /* padding-left: 1.7%; */
    height: 261px;
    width: 390px;
    /* border-radius: 10px; */
    /* padding-right: 20px; */
}

.tulisan-5{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 16px;
    color: red;
}

.tulisan-5 p{
    font-size: 16px;
    line-height: 21.96px;
    text-transform: none;
    color:black;
    font-weight: 600;
    margin-top: 5px;
    width: 380px;
}

.isi-4 img{
    /* margin-left: 30px; */
    /* padding-left: 30px; */
    height: 122px;
    width: 182px;
    /* max-width: 100% */
}

.tulisan-6{
    /* width: 182px; */
    margin-left:-10px;
    /* margin-bottom: 5px;
    margin-top: 10px; */
    font-size: 12px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;    
    line-height: 12px;
    color: red;
}

.tulisan-6 p{
    font-size: 12.7px;
    line-height: 18.06px;
    text-transform: none;
    color:black;
    /* font-weight: 600; */
    margin-top: 5px;
    width: 188px;
}

.footer-1{
    background-color: #121416;
}

h6{
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 19.2499px
}
.col-md-3 ul{
    padding: 50px;
    margin: 8px;
    color: white;
    font-size: 13px;
    line-height: 22.75px
}

li{
    list-style-type: none;
}

.icon{
    height: 40px;
    margin-top: -50px;
    width: 135px;
    margin-left: 50px;
    margin-right: -160px;

}

.copyright{
    width: 250px;
    font-size: 11.05px;
    line-height: 19.3375px;
    color: white;
    margin-left: 50px;
    margin-top: -10px;
}

.isiheader,.menu,li,.icon,.tulisan,.tulisan-1,.tulisan-6,p:hover{
    cursor: pointer;    
    /* transform: scale(1.03); */
}

.isi:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.isi-1:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.isi-2:hover{
    cursor: pointer;
    transform: scale(1.03);
}

.isi-4:hover{
    cursor: pointer;
    transform: scale(1.03);
}

